.labs {


  li {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-bottom: 7px;
    width: 33%;
  }

  a {
    color: $white;
    display: block;
    position: relative;
    text-align: center;
    width: 100%;

    &:hover p {
      opacity: 1
    }
  }

  img {
    max-width: 400px;
    width: 100%;
  }

  .title {
    background: rgba(0, 0, 0, .7);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
  }

  .text {
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
