.not-found {

  .four-o-four {
    text-align: center;
    margin: 0 auto;
    width: 75%;

    p {
      font-size: 35px;
      line-height: 1.5;
      margin: 50px auto 0;
      width: 75%;
    }
  }
}
