.projects {

   li {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    padding-bottom: 7px;
    text-align: center;
    width: 100%;

    &.spaces-ui a {
      width: 15%;
    }

    &.slackerjs a {
      width: 25%;
    }
  }

  a {
    color: $white;
    display: block;
    margin: 0 auto 25px;
    position: relative;
    width: 33%;

    &:hover p {
      opacity: 1
    }

    &:after {
      z-index: 2;
    }
  }

  img {
    max-width: 400px;
    width: 100%;
  }

  .title {
    display: none;
  }
}
