body {
  &.bg-white {
    background: $white;
  }

  &.bg-blue {
    background: $blue;
  }

  &.bg-pink {
    background: $pink;
  }

  &.bg-orange {
    background: $orange;
  }
}

#js-body {
  position: relative;
}

#main-content {
  box-sizing: border-box;
  margin-left: 100px;
  margin-right: 100px;
  padding: 100px;
  position: relative;
  top: 0;
  z-index: 1;
}
