.hidden {
  opacity: 0;
}

#js-body {
  position: relative;

  &.yellow-title {
    h1.title {
      color: $yellow;
    }

    a:after,
    .underline-hover:after {
      background: $yellow;
    }
  }

  &.blue-title {
    h1.title {
      color: $blue;
    }

    a:after,
    .underline-hover:after {
      background: $blue;
    }
  }

  &.pink-title {
    h1.title {
      color: $pink;
    }

    a:after,
    .underline-hover:after {
      background: $pink;
    }
  }

  &.orange-title {
    h1.title {
      color: $orange;
    }

    a:after,
    .underline-hover:after {
      background: $orange;
    }
  }
}

a,
.underline-hover {
  color: $black;
  position: relative;
  text-decoration: none;
}

a:visited {
  color: $black;
}

a:hover:after,
.underline-hover:after {
  bottom: 5px;
  content: "";
  display: block;
  height: 5px;
  left: 5px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

a.no-underline:hover:after {
  display: none;
}

#main-content {
  box-sizing: border-box;
  margin-left: 100px;
  padding: 100px;
  position: relative;
  top: 0;
  z-index: 1;
}

h1.title {
  font-size: 50px;
  position: fixed;
  text-align: right;
  top: 75px;
  z-index: 2;

  span {
    display: block;
    transform-origin: right;
    transform: rotate(-90deg);
    width: 150px;
  }
}

a.back {
  float: left;
  font-size: 30px;
  position: fixed;

  svg {
    height: 35px;
  }

  .tooltip {
    opacity: 0;
  }

  &:hover .tooltip {
    opacity: 1;
  }
}
