nav {
  background: $black;
  box-sizing: border-box;
  color: $white;
  height: 100vh;
  left: 0;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100px;
  z-index: 2;

  transition: width $animation-delay ease-out;

  .logo {
    color: $black;
    left: 150px;
    position: absolute;

    transition: color $animation-delay ease-out;
  }

  ul {
    left: 50%;
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: opacity $animation-delay ease-out;

    a {
      color: $white;
      font-size: 50px;
      position: relative;
      text-decoration: none;

      &:hover {
        &:after {
          background: $yellow;
          bottom: 10px;
          content: "";
          display: block;
          height: 10px;
          position: absolute;
          width: 100%;
          z-index: -1;
        }
      }
    }
  }

  .menu-toggle {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 20px;
    left: 5px;
    margin-top: 50px;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotateZ(-90deg);
  }

  &.open {
    width: 100vw;

    ul {
      opacity: 1;
    }

    .logo {
      color: $white;
    }
  }
}
